@font-face {
    font-family: Roboto;

    src: url(/src/assets/fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: Circular;

    src: url(/src/assets/fonts/Circular/Circular-Black.otf);
}
