.app-header {
    grid-area: navbar;
    display: flex;
    flex-direction: column;
    //align-items: end;
    row-gap: rem(15px);
    height: 100%;
    padding: rem(8px) rem(12px);
    border-radius: rem(10px);

    img {
        width: rem(30px);
        height: rem(30px);
    }
   :hover {
        color: rgba(255, 238, 0, 0.9);
        transition: 1s;
        img{

            width: rem(35px);
            height: rem(35px);
        }
    }

    > * {
        padding: rem(4px) rem(12px);
        display: flex;
        align-items: end;
        height: rem(40px);
        //justify-content: end;
        gap: rem(15px);
        cursor: pointer;
    }

    @include for-narrow-layout {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        row-gap: 0;
        column-gap: rem(15px);
        align-items: center;
        position: fixed;
        bottom: 0;
        width: 100%;
        right: 0;
        height: auto;
        ///margin-bottom: ;
        > * {
            :first-child {
                display: none;
            }
        }
    }
}
