.app-header {
    grid-area: navbar;
    display: flex;
    flex-direction: column;
    //align-items: end;
    row-gap: rem(15px);
    height: 100%;
    padding: rem(15px);
    border-radius: rem(10px);
    img {
        width: rem(30px);
        height: rem(30px);
    }
    :hover {
        color: gold;
        transition: 3s;
    }

    > * {
        display: flex;
        align-items: center;
        //justify-content: end;
        gap: rem(15px);
    }

    @include for-narrow-layout {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        row-gap: 0;
        column-gap: rem(15px);
        align-items: center;
        position: fixed;
        bottom: 0;
        width: 100%;
        right: 0;
        height: auto;
        ///margin-bottom: ;
        > * {
            :first-child {
                display: none;
            }
        }
    }
}
