@font-face {
  font-family: Roboto;
  src: url(/src/assets/fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: Circular;
  src: url(/src/assets/fonts/Circular/Circular-Black.otf);
}
/* Media queries Breakpoint mixins */
/* Media  Mixins */
/* FLEX HELPERS */
.flex {
  display: flex;
}
.column {
  flex-direction: column;
}
.flex.space-between {
  justify-content: space-between;
}
.flex.justify-center {
  justify-content: center;
}
.flex.justify-end {
  justify-content: flex-end;
}
.flex.justify-start {
  justify-content: flex-start;
}
.flex.align-center {
  align-items: center;
}
.flex.align-start {
  align-items: flex-start;
}
.flex.flex-grow {
  flex: 1;
}
/* LIST HELPERS */
.clean-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* BUTTON HELPERS */
.el-close {
  position: absolute;
  z-index: 1;
  top: 8px;
  right: 8px;
  background-color: hsla(0, 0%, 100%, 0.24);
  border: none;
}
.el-close:hover {
  background-color: rgba(9, 30, 66, 0.08);
  border: none;
}
.el-close:focus {
  background-color: rgba(9, 30, 66, 0.08);
  border: none;
}
.btn {
  width: 100px;
  height: 35px;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  line-height: 16px;
  outline: none;
  border: none;
  background-color: #d6d6d6;
  text-align: center;
}
.fs12 {
  font-size: 0.75rem;
}
.fs14 {
  font-size: 0.875rem;
}
.fs18 {
  font-size: 1.125rem;
}
.fs20 {
  font-size: 1.25rem;
}
.fs24 {
  font-size: 1.5rem;
}
.fs28 {
  font-size: 1.75rem;
}
.fs30 {
  font-size: 1.875rem;
}
.ratio-16-9 {
  position: relative;
  overflow: hidden;
}
.ratio-16-9:before {
  content: "";
  display: block;
  width: 100%;
  padding-top: 56%;
}
.ratio-16-9 > * {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.ratio-16-9 > img {
  object-fit: cover;
}
.ratio-attachment {
  position: relative;
  overflow: hidden;
}
.ratio-attachment:before {
  content: "";
  display: block;
  width: 100%;
  padding-top: 70%;
}
.ratio-attachment > * {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.ratio-attachment > img {
  object-fit: cover;
}
.ratio-square {
  position: relative;
  overflow: hidden;
}
.ratio-square:before {
  content: "";
  display: block;
  width: 100%;
  padding-top: 100%;
}
.ratio-square > * {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.ratio-square > img {
  object-fit: cover;
}
.ratio-card {
  position: relative;
  overflow: hidden;
}
.ratio-card:before {
  content: "";
  display: block;
  width: 100%;
  padding-top: 80%;
}
.ratio-card > * {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.ratio-card > img {
  object-fit: cover;
}
.ratio-poster {
  position: relative;
  overflow: hidden;
}
.ratio-poster:before {
  content: "";
  display: block;
  width: 100%;
  padding-top: 150%;
}
.ratio-poster > * {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.ratio-poster > img {
  object-fit: cover;
}
* {
  box-sizing: border-box;
}
#root {
  height: 100%;
}
html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background-color: #000000;
  color: #FFFFFF;
  font-family: "Circular";
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0 0;
}
p {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 0.75rem;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}
img {
  width: 100%;
  overflow: auto;
}
/* ROUTES */
a {
  text-decoration: none;
  color: #005ef5;
  cursor: pointer;
}
a:focus,
a.router-link-exact-active {
  font-weight: bold;
  color: #0f0909;
}
hr {
  background-color: rgba(9, 30, 66, 0.13);
  border: 0;
  height: 1px;
  margin: 0;
  margin-inline-start: 10px;
  margin-inline-end: 10px;
}
/* BUTTON */
button {
  cursor: pointer;
}
button:hover {
  background-color: #64c989;
  transition: 1s;
}
i {
  cursor: pointer;
}
.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
             supported by Chrome, Edge, Opera and Firefox */
}
.footer-layout {
  border-radius: 0;
}
.routes-main {
  grid-area: body;
  overflow-y: unset;
}
.main-layout {
  display: grid;
  height: 100%;
  column-gap: 0.625rem;
  border-radius: 0.625rem;
  align-items: start;
  grid-template-columns: 12.5rem auto;
  grid-template-rows: 3.125rem auto 4.5rem;
  justify-items: center;
  grid-template-areas: "navbar sub-header" "navbar body" "footer footer";
}
.main-layout .routes-main,
.main-layout .app-header {
  background: linear-gradient(to bottom, #333333, #000000);
  width: 100%;
  height: 100%;
}
@media (max-width: 550px) {
  .main-layout {
    padding: 0.25rem;
    gap: 0.3125rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2.5rem 4.5rem;
    grid-template-areas: "body" "footer" "navbar";
  }
  .main-layout .app-header {
    background: rgba(0, 0, 0, 0.8);
  }
}
.main-content {
  flex: 1;
}
.app-header {
  grid-area: navbar;
  display: flex;
  flex-direction: column;
  row-gap: 0.9375rem;
  height: 100%;
  padding: 0.9375rem;
  border-radius: 0.625rem;
}
.app-header img {
  width: 1.875rem;
  height: 1.875rem;
}
.app-header :hover {
  color: gold;
  transition: 3s;
}
.app-header > * {
  display: flex;
  align-items: center;
  gap: 0.9375rem;
}
@media (max-width: 700px) {
  .app-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    row-gap: 0;
    column-gap: 0.9375rem;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    right: 0;
    height: auto;
  }
  .app-header > * :first-child {
    display: none;
  }
}
.sub-header {
  grid-area: sub-header;
  background-color: #323232;
  border-radius: 0.625rem 0.625rem 0 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 0.9375rem;
  height: 100%;
  padding: 0.9375rem;
}
.sub-header img {
  width: 1.875rem;
  height: 1.875rem;
}
.sub-header :hover {
  color: gold;
  transition: 3s;
}
.sub-header .test {
  margin-inline-start: auto;
}
@media (max-width: 700px) {
  .sub-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    row-gap: 0;
    column-gap: 0.9375rem;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    right: 0;
    height: auto;
  }
  .sub-header > * :first-child {
    display: none;
  }
}
.app-footer {
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 4.5rem;
  background-color: rgb(0, 0, 0);
}
@media (max-width: 700px) {
  .app-footer {
    background-color: rgba(2, 204, 127, 0.8);
    bottom: 3.25rem;
    width: 90%;
    height: 2.5rem;
    color: black;
    border-radius: 0.5rem;
  }
}
.albums-list {
  text-align: initial;
  display: grid;
  grid-template-rows: 50px 250px;
  grid-template-columns: 1fr 150px;
  padding: 0.625rem;
}
.albums-list h2 {
  grid-column: 1/2;
  grid-row: 1/2;
}
.albums-list .albums-list {
  grid-column: 1/3;
  grid-row: 2/3;
}
.albums-list a {
  width: fit-content;
  height: fit-content;
  padding: 0.625rem;
  justify-self: self-end;
  color: grey;
  grid-column: 2/3;
  grid-row: 1/2;
  border-radius: 0.625rem;
}
.albums-list ul {
  grid-column: 1/3;
  grid-row: 2/3;
  display: flex;
  gap: 1.875rem;
}
.albums-list a:hover {
  background-color: #353232;
  transition: 2s;
}
.card {
  display: grid;
  grid-template-rows: 150px 40px 20px;
  align-items: center;
  grid-template-columns: 150px;
  background-color: #161616;
  cursor: pointer;
  padding: 0.625rem;
  border-radius: 0.625rem;
  width: fit-content;
}
.card .card-name {
  grid-row: 2/3;
  font-size: 1rem;
  font-weight: 600;
}
.card .card-artist {
  grid-row: 3/4;
  color: #b5b5b5;
}
.card img {
  grid-row: 1/2;
  height: 100%;
}
.card:hover {
  background-color: #353232;
  transition: 2s;
}
.playlists-list {
  text-align: initial;
  display: grid;
  grid-template-rows: 50px 250px;
  grid-template-columns: 1fr 150px;
  padding: 0.625rem;
}
.playlists-list h2 {
  grid-column: 1/2;
  grid-row: 1/2;
}
.playlists-list .playlists-list {
  grid-column: 1/3;
  grid-row: 2/3;
}
.playlists-list a {
  width: fit-content;
  height: fit-content;
  padding: 0.625rem;
  justify-self: self-end;
  color: grey;
  grid-column: 2/3;
  grid-row: 1/2;
  border-radius: 0.625rem;
}
.playlists-list ul {
  grid-column: 1/3;
  grid-row: 2/3;
  display: flex;
  gap: 1.875rem;
}
.playlists-list a:hover {
  background-color: #353232;
  transition: 2s;
}
.tracks-list {
  text-align: initial;
  display: grid;
  grid-template-rows: 50px 250px;
  grid-template-columns: 1fr 150px;
  padding: 0.625rem;
}
.tracks-list h2 {
  grid-column: 1/2;
  grid-row: 1/2;
}
.tracks-list .tracks-list {
  grid-column: 1/3;
  grid-row: 2/3;
}
.tracks-list a {
  width: fit-content;
  height: fit-content;
  padding: 0.625rem;
  justify-self: self-end;
  color: grey;
  grid-column: 2/3;
  grid-row: 1/2;
  border-radius: 0.625rem;
}
.tracks-list ul {
  grid-column: 1/3;
  grid-row: 2/3;
  display: flex;
  gap: 1.875rem;
}
.tracks-list a:hover {
  background-color: #353232;
  transition: 2s;
}
.home-page {
  grid-area: body;
  display: flex;
  flex-direction: column;
  row-gap: 0.625rem;
  text-align: center;
}
.callback-page {
  grid-area: body;
}
.user-details-page {
  grid-area: body;
}